
</br></br></br>
<p> Party: <%= @party.name %> </p>
<p> President : <%= @party.president %> </p>
<p> Established on : <%= @party.established_year %> </p>



</br></br>

<%= link_to 'Home', home_path %>
