<!DOCTYPE html>
<html>
<head>
  <title>Election</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <style>
body {background-color:white; color:black;}

p.ex 
{

  position:fixed;
  right:50px;
  top:20px;
  
}

p.one
{
border-style:solid;
border-color:yellow;
}
div.fixed1
{
 
  right:40px;
  left:0px;

}
div.fixed
{
  position:fixed;
  top:120px;
  left:0px;
}



</style>
</head>
<body>
<div id="container" style="width:1500px">


	<div class="fixed1" style="background-color:yellow;height:40px;width:1450px;">
  
    	<h2><center>Elections-May 2014</center></h2>
 	</div>

 </div>

<%= yield %>

</body>
</html>
